html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Start */
html, body {
    height: 100%;
    background-color:grey;
    font-family: Oswald;
    font-weight: bold;
}

div {
    width: 450px;
}

.flex-container {
    position:absolute;
    left : 50%;
    bottom: 50%;
    top: 25%;
    transform: translateX(-50%);
}

.set-times {
    height: 95px;
    background-color: black;
    margin-bottom: 15px;
}

.countdown {
    height: 230px;
    background-color: black;
}
.session{
    width: 48%;
    height: 56px;
    float: left;
}
.break{
    width: 48%;
    height: 56px;
    float: right;
}
.decrease-session{
    width: 47px;
    height: 20px;
    float: left;
    padding: 6px 12px;
    text-align: center;
}
.increase-session{
     width: 47px;
    height: 20px;
    float: left;
    padding: 6px 12px;
    text-align: center;
}
.session-amount{
    float: left;
    width: 44px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
/* Break */
.decrease-break{
    width: 47px;
    height: 20px;
    float: right;
    padding: 6px 12px;
    text-align: center;
}
.break-session{
     width: 47px;
    height: 20px;
    float: right;
    padding: 6px 12px;
    text-align: center;
}
.break-amount{
    float: right;
    width: 44px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

h1{
    font-family:Oswald;
    font-weight: bold;
    font-size:54px;
    line-height:59.4px;
    color: #333;
    width:100%;
    text-align: center;
}
h3{
    color: white;
    font-size: 24px;
    text-align: center;
    vertical-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
i{
    color: white;
}
span{
    color: white;
    font-size: 25px;
}

/* Bottom Section */
.start-countdown{
    width: 200px;
    height: 56px;
    float: left;
    padding-left:15px;
    padding-right: 15px;
    text-align: center;
    display: block;
}
.refresh{
    width: 180px;
    height: 56px;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    display: block;
}
.session-main{
    width: 420px;
    height: 33px;
    padding: 0px 15px;
    float: left;
}
.s-main{
    text-align: center;
    display: block;
    width: 420px;
    height: 33px;
    margin:0 0 10px 0;
    font-size: 30px;
    color:white;
}
.time-remaining{
    float: left;
    color: white;
    text-align: center;
    height: 80;
    font-family: Orbitron;
    font-size: 4em;
}
.pause{
    float: left;
    width: 50%;
    height: 56px;
    color: white;
    text-align: center;
}
.stop{
    float: left;
    width: 50%; 
    height: 56px;
    color: white;
    text-align: center;
}
i.fa-play{
    padding-top: 20px;
}
i.fa-refresh{
    padding-top: 20px;
}
i.fa-pause{
    padding-top: 20px;
}
i.fa-stop{
    padding-top: 20px;